<!DOCTYPE html>
<html lang="en">

<head>
    <title>P'agina web | Express</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--Este link lo agregamos con el style.ccs que nosotros creamos-->
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    
