{{> head }}
{{> navbar }}

<div class="row">

<div class="col-8">
    <h1>Cerdo maldito</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, iste sunt id sapiente officiis commodi saepe laudantium explicabo quam voluptas quibusdam excepturi dolorum, autem corrupti molestiae doloremque sit voluptatem obcaecati.
    </p>

</div>

<div>
    <!--Este de bootstrap-->
    <img src="assets/img/original.gif" alt="img-thumbnail">
</div>

</div>

{{> foter }}